<?xml version="1.0" ?>
 <VOCPBoxConfig>
  <boxList>
   <box number="001">
    <message>
     root.rmd
    </message>
    <branch>
     0=998,1=011,2=012,3=300
    </branch>
   </box>
   <box number="011">
    <message>
     english.rmd
    </message>
    <owner>
     root
    </owner>
    <branch>
     1=100,2=101,9=001
    </branch>
   </box>
   <box number="012">
    <message>
     french.rmd
    </message>
    <owner>
     root
    </owner>
    <branch>
     1=100,2=101,9=001
    </branch>
   </box>
   <box number="100">
    <type>
     mail
    </type>
    <owner>
     root
    </owner>
    <email>
     root
    </email>
   </box>
   <box number="101">
    <message>
     system/pager.rmd
    </message>
    <type>
     pager
    </type>
    <owner>
     root
    </owner>
    <email>
     you@yourisp.com
    </email>
   </box>
   <box number="200">
    <message>
     root.rmd
    </message>
    <type>
     mail
    </type>
    <owner>
     root
    </owner>
    <restricted>
     200
    </restricted>
   </box>
   <box number="300">
    <type>
     script
    </type>
    <owner>
     root
    </owner>
    <autojump>
     001
    </autojump>
    <script>
     /usr/local/vocp/bin/toggleEmail2Vm.pl
    </script>
    <input>
     raw
    </input>
    <return>
     tts
    </return>
   </box>
   <box number="400">
    <type>
     faxondemand
    </type>
    <file2fax>
     /usr/local/vocp/images/faxtest.g3
    </file2fax>
   </box>
   <box number="600">
    <type>
     command
    </type>
    <owner>
     root
    </owner>
    <commandList>
     <command selection="100">
      <input>
       text
      </input>
      <return>
       output
      </return>
      <run>
       ip.pl
      </run>
     </command>
     <command selection="150">
      <input>
       none
      </input>
      <return>
       output
      </return>
      <run>
       ip.pl eth0
      </run>
     </command>
     <command selection="250">
      <input>
       raw
      </input>
      <return>
       output
      </return>
      <run>
       echo
      </run>
     </command>
    </commandList>
   </box>
   <box number="666">
    <type>
     command
    </type>
    <owner>
     root
    </owner>
    <commandList>
     <command selection="100">
      <input>
       none
      </input>
      <return>
       output
      </return>
      <run>
       date.pl
      </run>
     </command>
     <command selection="200">
      <input>
       none
      </input>
      <return>
       exit
      </return>
      <run>
       date.pl
      </run>
     </command>
    </commandList>
   </box>
   <box number="998">
    <message>
     system/goodbye.rmd
    </message>
    <type>
     exit
    </type>
   </box>
  </boxList>
 </VOCPBoxConfig>

